/* styles.css */

/* Body Styles */
body {
}

/* Header Styles */
h1 {
}

/* Section Styles */
h2 {
}

/* Project and Textbook Styles */
ul {
}

li:before {
    content: "- "; 
}

a {

}

a:hover {

}
